absl-py==2.3.1
matplotlib==3.9.4
mediapipe==0.10.14
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
pillow==11.3.0
PyQt5==5.15.11
scikit-image==0.24.0
scikit-learn==1.6.1
torch==2.8.0+cpu
torchvision==0.23.0+cpu
